*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zoom{
    transition: transform .5s;
}

.zoom:hover{
    transform: scale(1.02) rotate(1.1deg);
}

.title-card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 23px;
    padding-bottom: 15px;
}

.education-card{
    text-align: left;
    color: rgb(55, 152, 255);
}

.name-card{
    text-align: left;
    font-weight: bold;
}

.img-card{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f4f3ee;
}

.info-card{
    display: flex;
    padding-top: 15px;
}

.desc-card{
    margin-left: 20px;
    text-align: center;
    padding-top: 7px;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #444343;
  transform: translateY(-0.25em);
}
.button {
  --color: #444343;
  --hover: #5F5F5F;
}
button {
  color: var(--color);
  transition: 0.25s;
}
button:hover {
  color: #444343;
  border-color: #444343;
}
.more-button {
  font-size: 0.9375rem;
  border: 1px solid #ddd;
  border-radius: 0.1875rem;
  max-width: 90%;
  height: 2.5rem;
}