.voucher-item-container {
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-top: 20px;
  border-bottom: 2px solid #ddd;
  text-align: left;
}

.voucher-item-container img {
  max-width: 100%;
  height: auto;
}

.voucher-item-container h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.voucher-item-container p {
  margin: 0;
}

.feature-list-container h3,
.voucher-list-heading {
  font-size: 1.25rem;
  padding-bottom: 0.3125rem;
  border-bottom: 0.3rem solid #ddd;
  font-weight: 3.5rem;
  text-align: left;
}

.feature-list-container {
  font-size: 1.25rem;
  padding-bottom: 0.3125rem;
  text-align: left;
}

.more-button {
  font-size: 0.9375rem;
  border: 1px solid #ddd;
  border-radius: 0.1875rem;
  max-width: 90%;
  height: 2.5rem;
}

.expired {
  color: #f5222d;
  background: #fff1f0;
  border: 1px solid #ffa39e;
  margin-left: 8px;
  border-radius: 2px;
  padding: 1px;
}

img {
  border-radius: 0.1875rem;
}

@media (max-width: 600px) {
  p {
    font-size: 300%;
  }

  .voucher-item-container h4 {
    font-size: 40px;
  }

  .div-button {
    width: 100px;
  }
}


.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

$colors: (
  raise: #444343, 
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover{
    color: #444343;
    border-color: #444343;
  }

}

.feature-list-container-item,
.voucher-item-container {
 
  opacity: 1;
  transition: opacity 0.3s ease; 

  &:hover {
    opacity: 0.6; 
    cursor: pointer;
  }
}

.ant-image-mask-info {
  display: none;
} 