* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: left;
}

.search-three {
    background-color: #f4f3ee;
    height: 118px;
    display: flex;
    align-items: center;
}

.select-search {
    width: 300px; 
    margin-left: 10px
}

.search {
    margin-bottom: 25px;
}

.icon-search {
    position: absolute;
    margin-left:-30px;
    margin-top:7px;
}

.input-search {
    width: 240px;
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid black;
}

.button-search {
    background-color: #fed702;
    color: black;
    font-weight: bold;
    transition: transform 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button-search:hover {
    background-color: #fed702;
    color: inherit !important;
    border-color: #fed702 !important;
    transform: translateY(-3px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.description-search{
    margin-left: 10px;
}

.title-search {
    font-weight: bold;
    font-size: 15px;
}

@media (max-width: 898px) {
    .search-three {
      display: flex;
      flex-direction: column;
      height: 210px;
      align-items: flex-start;
    }
    .select-search{
        width: 100%;
        margin-left: 0;
        padding: 3px;
    }
    .input-search {
        margin-left: 3px;
    }
    .description-search{
        margin: auto;
    }
}