* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h2 {
  text-align: left;
}

.search-three {
  background-color: #f4f3ee;
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-search {
  width: 350px;
  margin-left: 10px;
}

.search {
  margin-bottom: 25px;
}

.icon-search {
  position: absolute;
  margin-left: -30px;
  margin-top: 7px;
}

.input-search {
  width: 280px;
  margin-left: 10px;
  border: none;
  border-bottom: 2px solid black;
}

.button-search {
  background-color: #fed702;
  color: #171c32;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.button-search::before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0,
    transparent 80%
  );
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.button-search:hover {
  border-width: 0 !important;
  color: inherit !important;
  transform: translateY(-5px);
}

.button-search:hover::before {
  opacity: 1;
  transform: translateY(5px);
}

.description-search {
  margin-left: 10px;
}

.title-search {
  font-weight: bold;
  font-size: 15px;
}

@media (max-width: 898px) {
  .search-three {
    display: flex;
    flex-direction: column;
    height: 210px;
    align-items: flex-start;
  }
  .select-search {
    width: 100%;
    margin-left: 0;
    padding: 10px;
  }
  .input-search {
    margin-left: 10px;
  }
  .description-search {
    margin: auto;
  }
}
