.input-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-label label {
  font-weight: bold;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .button-search-post {
    width: 100%;
  }

  
}
